{% extends "dnow/base.html" %}

{% block title %}DNOW Cooks Page{% endblock %}

{% block content %}
<h1>Cooks</h1>
{% if cooksList %}
    <table summary="Cook Table">
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Meal 1 commitment</th>
            <th>Meal 2 commitment</th>
        </tr>
        {% for cook in cooksList %}
            {% url 'hosthome' cook.meal_set.all.0.hostHome.id as hh1 %}
            {% url 'hosthome' cook.meal_set.all.1.hostHome.id as hh2 %}
            <tr>
                <td><a href="{% url 'cook' cook.id %}">{{ cook.firstName }} {{cook.lastName}}</a></td>
                <td>{{ cook.phone }}</td>
                <td><a href="mailto:{{ cook.email }}">{{ cook.email }}</a></td>
                <td><a href="{{ hh1 }}">{{ cook.meal_set.all.0.time }} @ {{ cook.meal_set.all.0.hostHome.lastName }}</a></td>
                <td>{{ cook.meal_set.all.1.time }} @ {{ cook.meal_set.all.1.hostHome.lastName }}</td>
{#                <td><a href="{{ hh2 }}">{{cook.mealHostHomes.all.1.lastName}}</a></td>#}
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No cooks in db.</p>
{% endif %}
{% endblock %}
