<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DNOW 2019 Email</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 2px;
        }
    </style>

</head>
<body>
{% if isCook %}
    {% include "dnow/baseCookEmail.html" %}
{% elif isDriver %}
    {% include "dnow/baseDriverEmail.html" %}
{% else %}
    {% include "dnow/baseEmail.html" %}
{% endif %}
</body>
