<p>Dear {{ personName }},</p>
{{ htmlGreeting|safe }}<br>
<br>
{% if hhBaseHtml %}
    <h3>Host Home:</h3>
    {{ hhBaseHtml|safe }}
{% endif %}
{% if cooksHtml %}
    <h3>Cooks:</h3>
    {{ cooksHtml|safe }}
{% endif %}
{% if leaderHtml %}
    <h3>Leaders:</h3>
    {{ leaderHtml|safe }}
{% endif %}
{% if driverHtml %}
    <h3>Drivers:</h3>
    {{ driverHtml|safe }}
{% endif %}
{% if tshirtHtml %}
    <h3>T-Shirts:</h3>
    {{ tshirtHtml|safe }}
{% endif %}
{% if studentHtml %}
    <h3>Students:</h3>
    <h3>Total # students = {{ studentCount|safe }}</h3>
    {{ studentHtml|safe }}
{% endif %}
{% if churchStaffHtml %}
    <h3>Church Staff:</h3>
    If you have any questions, please feel free to reach out to the church staff:
    {{ churchStaffHtml|safe }}
{% endif %}
<br>
    {{ htmlClosing|safe }}<br>
<br>
{% if schedule %}
    ATTACHED: {{ scheduleFileName }}<br>
{% endif %}
{% if sendWaiver %}
    ATTACHED: DNOWWaiver2019.doc<br>
{% endif %}
