<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DNOW 2018 Host Home Email</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 2px;
        }
    </style>

</head>
<body>
    <p>Dear {{ hostHome.lastName }} Family and Leaders,</p>
    <h3>NEW INFORMATION: </h3>
    Have we told you how awesome you are! This truly is a sacrifice of love and an investment in the next generation
    for the Kingdom of God. Thank you! Thank you!
    <br> <br>
    Leaders, Please arrive at Cottonwood Creek between 5:30 and 6:00PM. The doors to the sanctuary will open at 6:00 and
    we want you to sit with your students. There will be information outside the sanctuary about where you will be sitting.
    After the rally, please return to the gymnasium to get your paperwork. You'll have medical releases for all your
    students and a "time away" sheet that indicates when students in your group will have to leave for other
    activities. You may also receive medication for any students that need it.
    <br>
    <br>
    We have had to do some shuffling of students and drivers over the last few days, so your details may have changed below.
    <br> <br>
    You will be hosting {{ studentCount }} {{ hostHome.grade }}th grade {{ gender }} and {{ leaderCount }} leaders.
    <br>
    <br>
    Your meals will be provided by:
    {{ cooksHtml|safe }}
    <br>
    Your leaders are:
    {{ leaderHtml|safe }}
    <br>
    Your drivers are:
    {{ driverHtml|safe }}
    <br>
    Your students are:
    {{ studentHtml|safe }}
    <br>
    Your home will receive the following sizes for t-shirts for you, your leaders and your students.
    {{ tshirtHtml|safe }}
    <br>
    If you have any questions or concerns, you can contact:<br>
    {{ churchStaffHtml|safe }}
    Thank you for all you do.<br>
    The DNOW team

</body>
</html>
