<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DNOW 2018 Cooks Email</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 2px;
        }
    </style>

</head>
<body>
    <p>Dear {{ cook.firstName }},</p>
    We have had a few homes that have had changes in numbers and additional allergies.  Please look over your list again for any changes.
    Also, we have had several inquiries as to what to provide for “snack” on Friday night (if that is your role).
    This is totally up to you but it should probably be something substantial.  The kids always arrive to their
    host home hungry.  Some examples would be a a chicken nugget tray, you could have pizzas delivered, items
    (already cooked) such as pizza pockets, mozzarella sticks, etc…

    We thank you again!  These kids being fed well is a big piece of the weekend and we could not do this without you!
    <br>
    <br>
    Here is what you are scheduled for:
    <br>
    <br>

    {% for meal in cook.meal_set.all %}
    Meal: <b>{{ meal.time }}</b>
    {% endfor %}
    <br>
    {{ hostHomeHtml|safe }}

    <p>If you have questions or issues related to this cooking assignment, please contact our
    <b>cooking coordinator</b>:</p>
    <b>Christi Ledebur - ledeburs5@gmail.com, 972-897-4432</b>
    <br>
    <br>
    <br>
    If you have any questions or concerns related to DNOW in general, you can contact:<br>
    {{ churchStaffHtml|safe }}
    Thank you for all you do.<br>
    The DNOW team


</body>
</html>
