<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DNOW 2018 Driver Email</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 2px;
        }
    </style>

</head>
<body>
    <p>Dear {{ driver.firstName }},</p>
    <h3>NEW INFORMATION: </h3>
    For some of you, your driving information has changed slightly. Please review below.
    <br><br>
    <b>Check-in</b> is in the gym at Cottonwood Creek. <b>Drivers (who are not leaders) please arrive by 8:45PM</b>.
    You will be given further instruction at that time.
    <br>
    <br>
    You guys are awesome! Thank you for giving up a large part of your weekend to allow this event to be successful.
    <br>
    <br>

    You will be driving at the following times and locations:
    <h3>Drive Times</h3>
    {{ driveSlots|safe }}
    {{ hostHomeHtml|safe }}

    Some drive times will have you traveling to Cottonwood Creek.
    <p> <a href="https://maps.google.com/?q=1015 Sam Rayburn Tollway+Allen+TX+75013">
        Cottonwood Creek Church<br>
        1015 Sam Rayburn Tollway, Allen, TX 75013
    </a>
    </p>

    If you have any questions or concerns, you can contact:<br>
    {{ churchStaffHtml|safe }}
    Thank you for all you do.<br>
    The DNOW team

</body>
</html>
