{% extends "dnow/base.html" %}

{% block title %}DNOW Send Email Page{% endblock %}

{% block content %}
<h2>Send Emails</h2>
<form action="#" method="get" class="submit">
     <input type="submit" value="Email All Host Homes" name="emailAllHostHomes">
</form>
    <br>
<form action="#" method="get" class="submit">
     <input type="submit" value="Email All Drivers" name="emailAllDrivers">
</form>
    <br>
<form action="#" method="get" class="submit">
     <input type="submit" value="Email All Cooks" name="emailAllCooks">
</form>
    <br>
{#<form action="#" method="get" class="submit">#}
{#     <input type="submit" value="Email All Leaders" name="emailLeaders">#}
{#</form>#}
{#    <br>#}
<form action="#" method="get" class="submit">
     <input type="submit" value="Email All Parents" name="emailParents">
</form>
    <br>
{%  endblock %}
