{% extends "dnow/base.html" %}
{% load static %}

{% block addstyle %}<link rel="stylesheet" href="{% static 'dnow/css/mapstyle.css' %}" />{% endblock %}
{% block title %}DNOW Host Homes Page{% endblock %}

{% block content %}
    <a href="/dnow/hosthomes/{{ prev }}">&laquo; previous</a>
    <a href="/dnow/hosthomes/{{ next }}">next &raquo;</a>
    <h3>Host home: {{ hostHome.firstName }} {{ hostHome.lastName }}</h3>
    {{ hhBaseHtml|safe }}
    <h2>Cooks</h2>
    {{ cooksHtml|safe }}
    <h2>Leaders</h2>
    {{ leaderHtml|safe }}
    <h2>Drivers</h2>
    {{ driverHtml|safe }}
    <h2>T-Shirts</h2>
    {{ tshirtHtml|safe }}
    <h2>Students</h2>
    <h4>Total # students = {{ studentCount|safe }}</h4>
    {{ studentHtml|safe }}
    <h2>Church Staff</h2>
    {{ churchStaffHtml|safe }}
    <br>
{% endblock %}


{% block map %}
    <script>
        function initMap() {
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 17,
            center: {lat: 33.1299, lng: -96.6335}
          });
          var geocoder = new google.maps.Geocoder();
          geocodeAddress(geocoder, map);
        }

        function geocodeAddress(geocoder, resultsMap) {
          var address = "{{ hostHome.street|default:'611 E Stacy Rd' }} {{ hostHome.city|default:'Fairview' }} {{ hostHome.state|default:'TX' }}";
          //var address = document.getElementById('address').value;
          geocoder.geocode({'address': address}, function(results, status) {
            if (status === 'OK') {
              resultsMap.setCenter(results[0].geometry.location);
              var marker = new google.maps.Marker({
                map: resultsMap,
                position: results[0].geometry.location
              });
            } else {
              alert('Geocode was not successful for the following reason: ' + status);
            }
          });
        }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhv0vbI8coAU9aN22zhRCO-uQyGXPQ0A0&callback=initMap">
    </script>
{% endblock %}
