    .header {
        position:absolute;
        left:0; right:0;
        height: 159px;
    }
    .sidebar {
        position:absolute;
        left:0; top:159px; bottom: 0;
        width: 178px;
        background: #f8ef26;
    }
    .content {
        position: absolute;
        left:178px; top:159px; right:0; bottom:0;
        border: 10px solid White;
    }
    input[type=submit] {
        width: 180px;  height: 40px;
        border: none;
        font-size: 14px;
    }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
    }
    th {
        background-color: #f8ef26;
        color: #462164;
    }
